<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DefaultsKit iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DefaultsKit macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DefaultsKit tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0AC4A9F1F43853D0070F91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0AC4AA81F43853D0070F91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F0010C1F48D0A600617715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F001181F48D0BD00617715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F0012B1F48D34200617715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
